<Jumbo>
  <h2>New Listing</h2>
  <p>Fill in the form to create a listing.</p>
  <button class="button" {{on "click" this.back}}>Back</button>
</Jumbo>
<Rental::Form @rental={{@rental}} @save={{this.save}} @cancel={{this.cancel}} />